.header-container {
    padding: 69px 0 69px 162px;
    width: 100%;
}
.logo {
    Width: 198.79px;
    Height: 53.72px;
    vertical-align: middle;
    display: inline-block;
}    
.nav-bar {
    display: inline-block;
    margin-left: 150px;
}
.menu li {
    margin-right: 20px;
    display: inline-block;
}
.menu a {
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: #274C5B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right: 20px;
}
